sudo: required
dist: trusty
language: node_js
node_js:
  - "node"
addons:
  # From some tests it seems you can only have one firefox addon.
  # Adding two results in the last one defined being the one installed.
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_install:
  - sudo apt-get update -qq
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - npm install -g web-component-tester@v6.0.0
  - npm install -g bower
  - npm install -g eslint-config-airbnb@14.1.0 eslint@3.19.0 eslint-plugin-jsx-a11y@4.0.0 eslint-plugin-import@2.2.0 eslint-plugin-react@6.10.3
  - bower install
script:
  - eslint src/
  - wct --skip-plugin sauce --plugin local -l chrome
